{% extends "base.html" %}

{% block title %} Главная {% endblock title %}

{% block content %}

	<h1>Cards</h1>
	
	<table style="border: 1px solid black;">
		<tr>
			<th style="border: 1px solid black;">ID</th>
			<th style="border: 1px solid black;">Word</th>
			<th style="border: 1px solid black;">Context</th>
		</tr>
		{% for card in cards %}
			<tr>
				<td style="border: 1px solid black;">{{ card.id }}</td>
				<td style="border: 1px solid black;">{{ card.word }}</td>
				<td style="border: 1px solid black;">{{ card.context }}</td>
				<td style="border: 1px solid black;"><a href="{{ url_for('delete_card', card_id=card.id) }}">Delete</a></td>
				<td style="border: 1px solid black;"><a href="{{ url_for('edit_card', card_id=card.id) }}">Edit</a></td>
			</tr>
		{% endfor %}
	</table>

{% endblock content %}